@page  "/Product/EditProduct"
@page "/Product/EditProduct/{Item}"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="card m-3">
    <h4 class="card-header">Atualizar Produto</h4>
    <div class="card-body">
        <EditForm Model="@produto" OnValidSubmit="HandleValidSubmit" @onreset="HandleReset">
            <DataAnnotationsValidator />
            
            <div class="form-row">
                <div class="form-group col">
                    <label>Nome</label>
                    <InputText @bind-Value="produto.Nome" class="form-control" />
                    <ValidationMessage For="@(() => produto.Nome)" />
                </div>
                <div class="form-group col">
                    <label>Preço</label>
                    <InputNumber @bind-Value="produto.Preco"  class="form-control" />
                    <ValidationMessage For="@(() => produto.Preco)" />
                </div>
                    <div class="form-group col">
                    <label>Descrição</label>
                    <InputText @bind-Value="produto.Descricao" class="form-control" />
                    <ValidationMessage For="@(() => produto.Descricao)" />
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1">Salvar</button>
                <button type="reset" class="btn btn-secondary">Cancelar</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Produto produto = new Produto ();

    [Parameter]
    public string Item { get; set; }
    private EditContext editContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var itemId = Item;
        produto = await Http.GetFromJsonAsync<Produto>($"/Produto/GetById?id={itemId}");
        editContext = new EditContext(produto);
    }

    private async Task HandleValidSubmit()
    {
        await Http.PutAsJsonAsync("/Produto/Update", produto);
        NavigationManager.NavigateTo("Produto/ListProduto");

    }

    private void HandleReset()
    {
        produto = new Produto();
        editContext = new EditContext(produto);
    }  

}